Remaining folders on Backend work google drive link: https://drive.google.com/drive/folders/1jXmBxikND3kcILxsBUQfHzF9a4-GM-d_?usp=sharing

Commands used for execution in VSCode(windows):
================================================
Virtual environment setup:
==========================

python -m venv venv

venv\Scripts\activate



# 1. Start Backend FastAPI Server in VSCode(windows)
cd backend
.\venv\Scripts\Activate.ps1

# 2. Start Frontend React Server (in a VSCode(windows) new terminal tab)
cd frontend


backend: uvicorn app.main:app --reload

frontend: npm run dev


http://127.0.0.1:8000/ -> backend webpage

http://localhost:8000/docs -> saved documents

http://localhost:5173/ -> frontend webpage
