fastapi
fastapi-cache2
uvicorn
sqlalchemy
psycopg2-binary
python-jose
passlib
bcrypt
python-multipart
pydantic
pydantic-settings
email-validator
python-dotenv
motor
pymongo
opencv-python
mediapipe
numpy
tensorflow
pillow
python-multipart
reportlab
openpyxl
tensorflow
keras
opencv-python
numpy
scikit-learn
alembic
pytest
httpx
brotli
locust